{% extends "base.html" %}
{% block content %}
      
      <div class="container mt-5">
        <div class="row gy-4 m-2">
          <div class="col-sm">
            <div class="card h-100" style="width: 18rem;">
                <div class="card-body text-center ">
                  <h5 class="card-title text-center">Sales</h5>
                  <p class="card-text text-center">In this module, we can place customer's order.</p>
                  <a href="./sales" class="btn btn-primary "><span class="bi bi-bag"></span> Sales</a>
                </div>
              </div>
          </div>
          <div class="col-sm">
            <div class="card h-100" style="width: 18rem;">
                <div class="card-body text-center">
                  <h5 class="card-title">Inventory</h5>
                  <p class="card-text">Here We can see the whole Inventory.</p>
                  <a href="./inventory" class="btn btn-primary"><span class="bi bi-building"> Inventory</span></a>
                </div>
              </div>
              
          </div>
          <div class="col-sm">
            <div class="card h-100" style="width: 18rem;">
                <div class="card-body text-center">
                  <h5 class="card-title">Insuficient Stock</h5>
                  <p class="card-text">Here We can see the Insufficient Stock.</p>
                  <a href="/outofstock/" class="btn btn-primary"><span class="bi bi-alarm-fill"></span> Insufficient Stock</a>
                </div>
              </div>
          </div>
        </div>
        <div class="row gy-4 m-2">
            <div class="col-sm">
              <div class="card h-100" style="width: 18rem;">
                  <div class="card-body text-center">
                    <h5 class="card-title">Add Stock</h5>
                    <p class="card-text">Click Button to add stock.</p>
                    <a href="#" class="btn btn-primary"><span class="bi bi-plus-circle"></span> Add Stock</a>
                  </div>
                </div>
            </div>
            <div class="col-sm">
              <div class="card h-100" style="width: 18rem;">
                  <div class="card-body text-center">
                    <h5 class="card-title">Orders</h5>
                    <p class="card-text">Click to view Orders.</p>
                    <a href="./orders" class="btn btn-primary"><span class="bi bi-box"></span> Orders  </a>
                  </div>
                </div>
            </div>
            <div class="col-sm">
              <div class="card h-100" style="width: 18rem;">
                  <div class="card-body text-center">
                    <h5 class="card-title">Customers</h5>
                    <p class="card-text">Click to View Customers.</p>
                    <a href="./customer" class="btn btn-primary"><span class="bi bi-people"></span> Customers</a>
                  </div>
                </div>
            </div>
          </div>
      </div>
{% endblock %}
      