{% extends "base.html" %}
{% block content %}
<div class="container mt-5 text-justify">
    <h2 align="center">Out Of Stock</h2>
    <table class="table table-bordered align-middle">
        <thead class="thead-dark">
          <tr class="align-middle text-center">
            <th scope="col">Product ID</th>
            <th scope="col">Product Name</th>
            <th scope="col">Category</th>
            <th scope="col">Available Quantity</th>
            <th scope="col">MRP Price</th>
          </tr>
        </thead>
        <tbody>
            {% for i in outofstock %}
          <tr>
            <td scope="row">{{i[0]}}</td>
            <td scope="row">{{i[1]}}</td>
            <td scope="row">{{i[2]}}</td>
            <td scope="row">{{i[3]}} </td>
            <td scope="row">{{i[4]}} ₹ </td>
          </tr>
          {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
