{% extends "base.html" %}
{% block content %}
  <div class="container">
    <form method="post">
      <label for="Prod_id">Product ID:</label>
      <input type="number" class="form-control" id="Prod_id" name="Prod_id" />
      <br>
      <label for="Quantity">Quantity:</label>
      <input type="number" class="form-control" id="quantity" name="quantity" />
      <br>
      <input type="submit" class="form-control btn btn-danger" >
    </form>
      
    <div class="container mt-5 text-justify">
      <table class="table table-bordered align-middle">
          <thead class="thead-dark">
            <tr class="align-middle text-center">
              <th scope="col">Product ID</th>
              <th scope="col">Product Name</th>
              <th scope="col">Quantity</th>
              <th scope="col">Price</th>
              <th scope="col">Total</th>
            </tr>
          </thead>
          <tbody>
              {% for i in temp %}
            <tr>
              <td scope="row">{{i[0]}}</td>
              <td scope="row">{{i[1]}}</td>
              <td scope="row">{{i[2]}}</td>
              <td scope="row">{{i[3]}}</td>
              <td scope="row">{{i[4]}}</td>
            </tr>
            {% endfor %}
          </tbody>
      </table>
  </div>
  </div>
</form>
{% endblock %}
